
<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="utf-8" />
    <meta name="viewport" content="width=device-width, initial-scale=1.0" />
    <title>@ViewData["Title"] - Justice League</title>
    <link rel="stylesheet" href="/css/menuEfooter.css" />
    <link rel="stylesheet" href="/css/media.css" />
</head>
<body>
    <div class="logBar">
        <ul class="logList">
			<li class="nav-linktext-dark-L">
				<a class="navMA" asp-area="" asp-controller="Home" asp-action="Index"><img class="nav-linktext-dark" src="~/img/Logo.png" alt="Lemoure Logo"></a>
			</li>
		</ul>
	</div>
</body>
</html>
