@{
	ViewData["Title"] = "Home Page";
}

<head>
	<meta charset="utf-8" />
	<title>@ViewData["Title"] - Home</title>
	<link rel="stylesheet" href="/css/index.css" />
	<link rel="stylesheet" href="/css/menuEfooter.css" />
	<link rel="stylesheet" href="/css/media.css" />
	<link href="http://fonts.cdnfonts.com/css/justice-league" rel="stylesheet">
</head>

<body>
	<div class="container">
		<table>
			<thead>
				<tr class="Top">
					<th class="fullLenght">
						<ol class="Socials">
							<li class="Socials"><a href=""><img src="~/img/LogoInstagram.png" /></a></li>
							<li class="Socials"><a href=""><img src="~/img/LogoTiktok.png" /></a></li>
							<li class="Socials"><a href=""><img src="~/img/LogoFacebook.png" /></a></li>
						</ol>
					</th>
					<th class="fullLenght">
						<h1 class="Mytitle">Your <br /> Mental <br /> Guide</h1>
					</th>
					<th class="fullLenght">
						<ol class="Navigation">
							<li class="Navigation">Collabora</li>
							<li class="Navigation">Racconta la<br />tua Storia</li>
							<li class="Navigation">Contatti</li>
						</ol>
						<article>
							<p>Se una persona sapesse <br /> che la maggioranza si <br /> sente allo stesso <br /> modo, non ci <br /> sentiremmo cosi soli.</p>
						</article>
					</th>
					<th></th>
				</tr>
			</thead>
		</table>
		<div class="YouVideos">
			<ol class="Socials">
							<li class="Socials"><iframe width="480" height="270" src="https://www.youtube-nocookie.com/embed/O3VPs9b_HZE?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
							<li class="Socials"><iframe width="480" height="270" src="https://www.youtube-nocookie.com/embed/O3VPs9b_HZE?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
							<li class="Socials"><iframe width="480" height="270" src="https://www.youtube-nocookie.com/embed/O3VPs9b_HZE?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
			</ol>
			<br />
						<ol class="Socials">
							<li class="Socials"><iframe width="480" height="270" src="https://www.youtube-nocookie.com/embed/O3VPs9b_HZE?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
							<li class="Socials"><iframe width="480" height="270" src="https://www.youtube-nocookie.com/embed/O3VPs9b_HZE?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
							<li class="Socials"><iframe width="480" height="270" src="https://www.youtube-nocookie.com/embed/O3VPs9b_HZE?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
			</ol>
			<br />
						<ol class="Socials">
							<li class="Socials"><iframe width="480" height="270" src="https://www.youtube-nocookie.com/embed/O3VPs9b_HZE?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
							<li class="Socials"><iframe width="480" height="270" src="https://www.youtube-nocookie.com/embed/O3VPs9b_HZE?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
							<li class="Socials"><iframe width="480" height="270" src="https://www.youtube-nocookie.com/embed/O3VPs9b_HZE?start=1" title="YouTube video player" frameborder="0" allow="accelerometer; autoplay; clipboard-write; encrypted-media; gyroscope; picture-in-picture" allowfullscreen></iframe></li>
			</ol>
			<br />


		</div>
	</div>
</body>
