@{
	ViewData["Title"] = "Home Page";
}

<head>
	<meta charset="utf-8" />
	<title>@ViewData["Title"] - Home</title>
	<link rel="stylesheet" href="/css/otherPages.css" />
	<link rel="stylesheet" href="/css/menuEfooter.css" />
	<link rel="stylesheet" href="/css/media.css" />
	<link href="http://fonts.cdnfonts.com/css/justice-league" rel="stylesheet">
</head>

<body>
	<div class="container">

		<article>
			<p class="Colla">Sei uno Psicologo od un Psicoterapeuta?<br /><br />Collabora con Noi!</p>
			<br /><br /><br />
			<p class="Colla">Scrivici al: <a class="Mail" href="mailto:andrea.tosi11@yahoo.com">Mure Company</a></p>
		</article>
	</div>
</body>
